<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <title>book stall</title>
</head>

<body>
    <div class="navbar">
        <div class="navbar-search">
            <input type="text" id="finder" placeholder="Search...">
        </div>
        <div class="navbar-logo">
            <img src="/book-svgrepo-com.svg" style="height: 50px;" alt="Logo">
        </div>
        <div class="navbar-right">
            <a href="#" class="navbar-button">Login</a>
            <a href="/cart" class="navbar-button">Cart</a>
        </div>
    </div>



    <div id="books">
        <h1>recomdation</h1>

        <div class="recomdation">
            <% if(books.length>0) {%>

                <% books.forEach(element=> {%>
                    <a target=”_blank” href="/books/ <%= element.id %>">


                        <div class="previewimg">
                            <img src="  <%=element.img %>" style="height: 250px;" alt="">

                            <div>
                                <p>
                                    <%= element.author %>
                                </p>
                                <p>

                                    <%= element.title %>
                                </p>
                                <p>
                                    <%= element.genre %>
                                </p>
                                <p>
                                    <%= element.cost %>
                                </p>
                                <a target=”_blank” href="/cart/<%= element.id%>"><button>add to cart</button></a>
                            </div>

                        </div>
                    </a>


                    <% });} %>

        </div>
        <div class="newest">

        </div>
        <div class="trending">

        </div>
        <div class="romance">

        </div>
        <div class="thriller">

        </div>
        <div class="fantasy">

        </div>

    </div>
    <script src="/home.js"></script>
</body>

</html>


</body>

</html>